.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: black;
  }
  .navbar a {
    text-decoration: none;
  }
  
  .navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
  }
  
  .navbar-cart {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;
  }